/* Le fond de l'overlay du modal */
        .modal {
            display: none; /* Masquer le modal par défaut */
            position: fixed; /* Rester en place */
            z-index: 1; /* Placer au-dessus de tout */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto; /* Activer le défilement si nécessaire */
            background-color: rgb(0,0,0); /* Fallback */
            background-color: rgba(0,0,0,0.4); /* Effet noir avec opacité */
        }
        /* Le contenu du modal */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% du haut et centré */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Peut être ajusté */
            max-width: 500px;
        }
        /* Le bouton de fermeture */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
